
{% extends "blog/base.html" %}

{% block content%}




<h4>
{% for item in items %}
    <div style="color:black;font-size: 20px;margin: 20px;">
    
        <img src="{{ item.image.url }}" height="200px" width="200px" style="margin-bottom: 20px;" /> 
   
         
        <div >

        PRODUCT TITLE : {{item.title}}<br><br>
       MINIMUM PRICE : {{item.minprice}}<br><br>
       CATEGORY : {{item.category}}<br><br>
        DESCRIPTION : {{item.author}}<br><br>
        </div>
       
    
     </div>
{% endfor %}
</h4>


{% endblock content %}